@import "vars";

.playlist {

  li {
    min-height: 25px;
  }

  .playlist-name {
    color: rgba($textColor, .5);
    font-size: 14px;
  }

  .media-left {
    img {
      height: 35px;
    }
  }

  &-current-track {
    .media-heading {
      font-weight: bold;
    }
  }

  .media-heading {
    display: table;
    border-bottom: dotted rgba($textColor, .2) 1px;

    .track-name {
      display: table-cell;
      width: 80%;
    }

    .time {
      display: table-cell;
      width: 20%;
      text-align: right;
    }
  }

  ul, ol {
    color: $textColor;
  }

  @media screen and (min-width: $screen-sm-min) {
    ul, ol {
      columns: 2;
      -webkit-columns: 2;
      -moz-columns: 2;
    }
  }
}
