@import "vars";

.duration {
  position: absolute;
  top: 0;
  width: 100%;
  background: themeColor(.5);
  height: 5px;
  max-width: 100%;
  overflow: hidden;
  z-index: 500;

  .elapsed {
    background: themeColor(1);
    height: 5px;
    transition: width 0.5s ease;
  }
}
