@import "vars";

.duration {
  background: rgba($textColor, .5);;
  height: 5px;
  max-width: 100%;
  overflow: hidden;

  .elapsed {
    background: rgba($textColor, 1);
    height: 5px;
    transition: width 0.5s ease;
  }
}
