@import "vars";

.player-controls {
  margin: 10px 0;
  text-align: center;

  .shuffle-active {
    border: solid $textColor 1px;
    background: rgba($textColor, 0.2);
  }

  @media screen and (min-width: $screen-sm-min) {
    margin: 0;
    text-align: left;
  }
}
