.player-controls {
  margin: 10px 0;
  text-align: center;

  .shuffle-active {
    border: solid themeColor(1) 1px;
    background: themeColor(.2);
  }

  @media screen and (min-width: $screen-sm-min) {
    margin: 0;
    text-align: left;
    float: right;
  }
}
