.playlist {

  img {
    height: 35px;
  }

  &-current-track {
    font-weight: bold;
  }

  .track-count {
    font-size: 16px;
    color: themeColor(.5);
  }

  th {
    text-transform: uppercase;

    &.no {
      width: 20px;
    }
  }

  .track-duration {
    text-align: right;
  }

  .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-top: solid themeColor(.5) 1px;
  }

  .table>thead>tr>th {
    border-bottom: solid themeColor(.5) 2px;
  }



  .table {
    .icon {
      position: relative;
    }
    td {
      cursor: pointer;
      vertical-align: middle !important;

      .fa-play {
        color: themeColor(.5);
        display: none;
        font-size: 10px;
        left: -25px;
        position: absolute;
        top: 3px;
      }
    }
    tr:hover, tr:focus {
      td {
        background: themeColor(.1);

        .fa-play {
          display: inline;
        }
      }
    }
  }

  .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-top: solid themeColor(.2) 1px;
  }

  .table>thead>tr>th {
    border-bottom: solid themeColor(.2) 2px;
  }

}
