.search-result {

  .tracks {
    img {
      height: 35px;
    }
  }

  .close {
    font-size: 40px;
    font-weight: 200;
    position: absolute;
    top: 5px;
    right: 10px;
    text-shadow: none;
    box-shadow: none;
    color: themeColor(1);
  }

  .album-tracks {
    margin-bottom: $grid-gutter-width/2;

    li {
      margin-bottom: 5px;
    }

  }

  .albums {
    background-color: themeColor(.5);
    height: 150px;
    overflow: scroll;
    position: relative;
    max-width: 100%;

    ul {
      position: absolute;
      height: 150px;
      margin: 0;
    }

    li {
      float: left;

      img {
        height: 150px;
      }
    }
  }

  .album-tracks {
    background: #333;
  }
}
