@import "vars";

.search {
  margin: 10px 0;

  .form-control-feedback {
    color: rgba($textColor, .5);
    right: 5px !important;
    top: 10px !important;
  }

  @media screen and (min-width: $screen-sm-min) {
    margin: 0;
  }
}
