.track, .album {

  .media-heading {
    font-size: 14px;
  }

  .time, .release-date {
    color: themeColor(.5);
    font-size: 12px;
  }

  .media-body {
    font-size: 12px;
  }

  h4 {
    font-size: 12px;
  }

  .media-left {
    position: relative;

    &:hover, &:focus {
      .enqueue {
        display: block;
      }
    }

    .enqueue {
      background: themeColor(.3);
      cursor: pointer;
      color: #fff;
      display: none;
      left: 0;
      height: 35px;
      padding-top: 10px;
      position: absolute;
      text-align: center;
      top: 0;
      width: 35px;
    }
  }
}
