@import "vars";

html, body {
  height: 100%;
}
body {
  //background: #111 url(bg.jpg) no-repeat;
  background: #111 url(green.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: rgba($textColor, 1);
  font-family: "Courier New";
}

.body-wrapper {
  background: rgba($bgColor, .8);
  height: 100vh;
}

.btn-default {
  background-color: rgba($textColor, .1);
  border-color: rgba($textColor, .5);
  color: rgba($textColor, 1);

  &:hover, &:focus {
    background-color: rgba($textColor, .2);
    border-color: rgba($textColor, 1);
    color: $textColor;
  }
}

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus, .btn:focus {
  border-color: rgba($textColor, 0.8);
  box-shadow: 0 1px 1px rgba($textColor, 0.075) inset, 0 0 8px rgba($textColor, 0.6);
  outline: 0 none;
}

.form-control {
  background-color: rgba($textColor, .1);
  border: solid rgba($textColor, .5) 1px;
  color: $textColor;;
}

header#banner {
  border-bottom: solid rgba($textColor, .5) 1px;
  background: rgba($bgColor, .5);
  padding: 20px 0;

  .track {
    margin: 0;

    .media-left {
      img {
        height: 34px;
        width: 35px;
      }
    }
  }
}

li {
  margin-bottom: 10px;
}

@import "current_playlist";
@import "current_track";
@import "duration";
@import "player_controls";
@import "queue";
@import "search";
@import "search_result";
@import "track";
