$apa: rgba(0,255,0, 1);
$textColor: #00ff00;

.btn-default {
  background-color: rgba($textColor, .1);
  color: rgba($textColor, 1);
  border-color: rgba($textColor, .5);
  &:hover, &:focus {
    background-color: rgba($textColor, .2);
    color: rgba($textColor, 1);
    border-color: rgba($textColor, 1);
  }
}
textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus, .btn:focus {
    border-color: rgba($textColor, 0.8);
    box-shadow: 0 1px 1px rgba($textColor, 0.075) inset, 0 0 8px rgba($textColor, 0.6);
    outline: 0 none;
}
body {
  background: #111 url(bg.jpg) no-repeat;
  color: rgba($textColor, 1);
  font-family: "Courier New";
  background-size: cover;
}

.form-control {
  background-color: rgba($textColor, .1);
  color: $textColor;;
  border: solid rgba($textColor, .5) 1px;
}

.queue {
  border-bottom: solid $textColor 1px;
}

header#banner {
  padding: 20px 0;

  .track {
    margin: 0;
    .media-left {
      img {
        width: 35px;
        height: 34px;
      }
    }
  }
}

li {
  margin-bottom: 10px;
}

.current-track {
  position: relative;

  .playing-status {
    position: absolute;
    top: 7px;
    left: 12px;
    z-index: 100;
    color: rgba(255, 255, 255, 0.8);
  }
}

.track, .album {
  .media-heading {
    font-size: 14px;
  }

  .time, .release-date {
    font-size: 12px;
    color: rgba($textColor, .5);
  }

  .media-body {
    font-size: 12px;
  }

  h4 {
    font-size: 12px;
  }

  .media-left {
    position: relative;

    &:hover, &:focus {
      .enqueue {
        display: block;
      }
    }

    .enqueue {
      cursor: pointer;
      display: none;
      background: rgba(0,0,0,0.5);
      color: #fff;
      position: absolute;
      top: 0;
      left: 0;
      width: 64px;
      height: 64px;
      padding-top: 24px;
      text-align: center;
    }
  }
}

.duration {
  height: 5px;
  background: rgba($textColor, .5);;
  max-width: 100%;
  overflow: hidden;

  .elapsed {
    height: 5px;
    background: rgba($textColor, 1);
    transition: width 0.5s ease;
  }
}

.search {
  .form-control-feedback {
    right: 5px !important;
    top: 10px !important;
    color: rgba($textColor, .5);
  }
}

.playlist {
  .playlist-name {
    color: rgba($textColor, .5);
    font-size: 14px;
  }
  .media-left {
    img {
      height: 35px;
    }
  }
  @media(min-width:768px){
    ul {
      columns: 2;
      -webkit-columns: 2;
      -moz-columns: 2;
    }
  }
}
