@import "vars";

html, body {
  height: 100%;
}
body {
  background: $bgColor url(bg.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: rgba($themeColor, 1);
  font-family: "Courier New";

  &:after {
    background: rgba($bgColor, .8);
    content: " ";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
}

.btn-default {
  background-color: rgba($themeColor, .1);
  border-color: rgba($themeColor, .5);
  color: rgba($themeColor, 1);

  &:hover, &:focus {
    background-color: rgba($themeColor, .2);
    border-color: rgba($themeColor, 1);
    color: $themeColor;
  }
}

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus, .btn:focus {
  border-color: rgba($themeColor, 0.8);
  box-shadow: 0 1px 1px rgba($themeColor, 0.075) inset, 0 0 8px rgba($themeColor, 0.6);
  outline: 0 none;
}

input::-webkit-input-placeholder {
	color: rgba($themeColor, .5) !important;
}
input::-moz-placeholder {
	color: rgba($themeColor, .5) !important;
}
input:-moz-placeholder {   /* Older versions of Firefox */
	color: rgba($themeColor, .5) !important;
}
input:-ms-input-placeholder {
	color: rgba($themeColor, .5) !important;
}

.form-control {
  background-color: rgba($themeColor, .1);
  border: solid rgba($themeColor, .5) 1px;
  color: $themeColor;;
}

header#banner {
  border-bottom: solid rgba($themeColor, .5) 1px;
  background: rgba($bgColor, .3);
  padding: 20px 0;

  .track {
    margin: 0;

    .media-left {
      img {
        height: 34px;
        width: 35px;
      }
    }
  }
}

li {
  margin-bottom: 10px;
}

@import "current_playlist";
@import "current_track";
@import "duration";
@import "player_controls";
@import "queue";
@import "search";
@import "search_result";
@import "track";
