.search-result-container {

  .albums {
    min-height: 150px;
    overflow: scroll;
    width: 100%;
    position: relative;

    ul {
      position: absolute;
      height: 150px;
      margin: 0;

      li {
        float: left;
        position: relative;

        &:hover, &:focus {
          .album-info {
            background: rgba(0,0,0,.8);
          }

          .play-album, .details {
            display: block;
          }
        }
      }
    }

    .album-info {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;

      .play-album {
        display: none;
        left: 45px;
        position: absolute;
        top: 40px;

        button {
          color: #fff;
          font-size: 40px;

          i {
            opacity: .5;
          }

          &:hover {
            i {
              opacity: .8;
            }
          }
        }
      }

      .details {
        display: none;
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 4px 8px;

        button {
          padding: 0;
        }

        .artist-name {
          text-transform: uppercase;
        }
      }
    }

    img {
      height: 150px;
      width: 150px;
    }
  }

  .album-details {
    background: #222;
    box-shadow: 0 3px 3px #000 inset;

    button {
      padding: 0;
      margin-right: 5px;
    }
  }
}
